@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .msry-sizer,
    .msry-item { width: 25%; }
}

@font-face {
    font-family: neueHaas;
    src: url(/fonts/NHaasGroteskTXPro-55Rg.woff);
    }
    @font-face {
    font-family: gtWalsheim;
    src: url(/fonts/gt-walsheim-regular.woff)
    }
    h1,h2,h3{font-family: 'neueHaas', sans-serif;}
    p{font-family: 'gtWalsheim', sans-serif;}
    
          
          .big h1 {
              font-size: 200px;
              position: absolute;
              color: white;
              text-align: center;
              width: 100%;
              top: 50%;
              transform: translateY(40%);
          }

          @media only screen and (max-width: 768px) {
            .big h1 {font-size: 150px;}
          }

          @media only screen and (max-width: 600px) {
            .big h1 {font-size: 80px;}
          }

          .medium h1 {
            font-size: 140px;
            position: absolute;
            color: white;
            text-align: center;
            width: 100%;
            top: 50%;
            transform: translateY(40%);
        }

        @media only screen and (max-width: 768px) {
            .medium h1 {font-size: 120px;}
          }
        
          @media only screen and (max-width: 600px) {
            .medium h1 {font-size: 60px;}
          }

          .small h1 {
            font-size: 140px;
            position: absolute;
            color: black;
            text-align: center;
            width: 100%;
            top: 0%;
            transform: translateY(-55%);
        }

        @media only screen and (max-width: 768px) {
            .small h1 {font-size: 120px;}
          }
        
          @media only screen and (max-width: 600px) {
            .small h1 {font-size: 60px;}
          }

          .row > .column {
            padding: 0 8px;
          }

          .row:after {
            content: "";
            display: table;
            clear: both;
          }

          /* Create four equal columns that floats next to eachother */
          .column {
            float: left;
            width: 25%;
          }

          .small h1 {
            font-size: 140px;
            position: absolute;
            color: black;
            text-align: center;
            width: 100%;
            top: 0%;
            transform: translateY(-55%);
        }
        
        @media only screen and (max-width: 768px) {
            .small h1 {font-size: 120px;}
          }
        
          @media only screen and (max-width: 600px) {
            .small h1 {font-size: 60px;}
          }
        
          .margen {
            margin-top: 500px;
          }
        
          @media only screen and (max-width: 600px) {
            .margen {margin-top: 250px;}
          }
        
          .centrado {
            left: 50%;
            transform: translate(-50%)
          }

          .slick-track {
            width: 100%;
          }

          .grid-item { width: 200px; }
